<div data-hook="admin_inside_spree_blogging_spree_form">
    <% if @blog_entry.errors.any? %>
      <div id="errorExplanation">
        <h2><%= t(:blog_form_error_message) %></h2>
      </div>
    <% end %>

    <p>
      <%= form.label :title %> <span class="required">*</span><br />
      <%= form.text_field :title %>
      <%= form.error_message_on :title %>
    </p>

    <p>
      <%= form.label :created_at %> <span class="required">*</span><br />
      <%= form.datetime_select :created_at, :start_year => 2005 %>
      <%= form.error_message_on :created_at %>
    </p>

    <p>
      <%= form.label :body %><br />
      <%= form.text_area :body, :style => 'width: 700px', :class => 'editor' %>
      <%= form.error_message_on :body %>
    </p>

    <p>
      <%= form.label :tag_list, 'Tag List' %><br />
      <%= form.text_field :tag_list %>
      <%= t('tag_list_example') %>
    </p>

    <%= form.label :attachment, t(:images) %><br/>
    <table>
        <tbody id="blog_entry_image_fields">
            <%= form.fields_for :images do |f_images| %>
                <%= render 'image_fields', :f => f_images %>
            <% end %>
        </tbody>
    </table>

    <p>
    <%= link_to_add_fields t("add_image"), "#blog_entry_image_fields" %>
    </p>
</div>
