<h2><%= link_to blog.title, entry_permalink(blog) %></h2>

<div class="date">
  <%= l( blog.created_at.to_date, :format => :long) %>
</div>

<div data-hook="spree_blogging_spree_blog_body" class="body">
  <% if blog.images.length == 1 %>
    <%= link_to(image_tag(blog.images.first.attachment.url(:normal)), blog.images.first.attachment.url(:large), :class=>'blog_image') %>
  <% end %>

  <%= raw blog.body %>

  <% if blog.images.length > 1 %>
    <div class="images">
      <% blog.images.each do |image| %>
        <%= link_to(image_tag(image.attachment.url(:normal)), image.attachment.url(:large)) %>
      <% end %>
    </div>
  <% end %>
</div>

<% unless blog.tag_list.empty? %>
  <%= render :partial => 'tag_list', :locals => {:blog_entry => blog}  %>
<% end %>

<br class="clear" />
